<div class="restaurant-info__container">

{% set post_url = restaurant.ID | post_url_by_id %}

<a href="{{post_url}}"
   class="logo logo--{{restaurant.post_name}} logo--mini"
>
    <img src="{{TimberImage(restaurant.logo).src}}" alt="{{restaurant.post_title}} Logo" />
</a>

<a itemprop="telephone" href="tel:{{restaurant.telephone}}" class="">
  <span class="fa fa-phone"></span>
  <span>{{restaurant.telephone}}</span>
</a>

{%if restaurant.opentable_reservation_url %}
<a href="{{restaurant.opentable_reservation_url}}" class=""><span class="fa fa-calendar"></span>Reserve with Open Table</a>
{% endif %}

{% if restaurant.street_address %}

<div class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{restaurant.street_address}}</span><br>
  <span itemprop="addressLocality">{{restaurant.city}}</span>,&nbsp;
  <span itemprop="addressRegion">{{restaurant.state}}</span>&nbsp;
  <span itemprop="postalCode">{{restaurant.zipcode}}</span>
</div>

{% endif %}

<a href="{{restaurant.map_link}}" class="button">Open Map</a>

</div>
