{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	<style>
		body {
			background-image: url({{TimberImage(background_image).src}});
		}

	</style>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39509925-1', 'auto');
  ga('send', 'pageview');

</script>
	{% endblock %}
	</head>
{% endblock %}

{% if post.background_image %}
	{% set background_image = post.background_image %}
{% elseif parent and parent.background_image %}
	{% set background_image = parent.background_image %}
{% endif %}

	<body class="{{body_class}} no-touch" data-template="base.twig">
		
		{% block header %}
			<div class="navigation">
				<div class="navigation-wrapper">
					<a class="logo" href="{{site.url}}"><img src="{{TimberImage(logo).src}}" alt="{{site.name}}" /></a>
					<span class="min-toggle fa fa-bars" data-nav-toggle></span>
					{% include "main-menu.twig" with {'menu': primary_menu.get_items} %}
				</div>
			</div>
		{% endblock %}

		<section id="content" class="{{body_class}}" style="{% if background_image %}background-image: url({{TimberImage(background_image)}}){% endif %}">
			{% if title %}<h1>{{title}}</h1>{% endif %}
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
