{% extends "base.twig" %} {% block content %}
<div class="reservations-container">
	{% for data in restaurants %} {% set restaurant = data.restaurant %} {% if restaurant.post_name != 'catering' %}
	<div class="reservation-card__container reservation-card__container--{{restaurant.post_name}}" style="background-image: url({{TimberImage(restaurant.background_image).src}})">
		<div class="reservation-card">
			<div class="reservation-card__column location">
				<a href="{{restaurant.ID | post_url_by_id}}" class="logo logo--{{restaurant.post_name}}"><img src="{{TimberImage(restaurant.logo).src}}" /></a>
				<h2>{{restaurant.post_title}}</h2>
				{% if restaurant.street_address %}
				<div class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">{{restaurant.street_address}}</span><br>
					<span itemprop="addressLocality">{{restaurant.city}}</span>,&nbsp;
					<span itemprop="addressRegion">{{restaurant.state}}</span>&nbsp;
					<span itemprop="postalCode">{{restaurant.zipcode}}</span></div>
				{% endif %}
				<a href="{{restaurant.map_link}}" class="map">Map</a>
			<div class="reservation-card__column">
				{{restaurant.hours}}
			</div>
			</div>
			<div class="reservation-card__column reservation-methods">
				<div>
					<a itemprop="telephone" href="tel:{{restaurant.telephone}}" class="telephone-link">
                <span class="fa fa-phone"></span>
                <span>{{restaurant.telephone}}</span>
              </a> {% if restaurant.opentable_reservation_url %}
					<a href="{{restaurant.opentable_reservation_url}}" class="reservation-link"><span class="fa fa-calendar"></span>Reserve with Open Table</a>					{% endif %}
					<div>{{restaurant.reservation_policy}}</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
{% endblock %}