{% extends "base.twig" %}


{% set hasEvents = events|length > 0 %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type--{{post.post_type}} {% if post.post_type == 'restaurant' or hasParentRestaurantPage %}restaurant-sub-page{% endif %}" id="post-{{post.ID}}" data-affix-container>
			
			{% if post.post_type == 'restaurant' or hasParentRestaurantPage %}
				
				<div class="restaurant-info">
					{% if parent_title %}
						<a href="{{parent_link}}" class="logo logo--{{parent.post_name}}"><img src="{{TimberImage(parent.logo).src}}" alt="{{parent.title}} Logo" /></a>
					{% else %}
						<a href="{{post.site_url}}" class="logo logo--{{post.post_name}}"><img src="{{TimberImage(post.logo).src}}" alt="{{post.title}} Logo" /></a>
					{% endif %}

					{% set restaurant = post %}
					{% if parent %}
						{% set restaurantInfo = parent %}
					{% else %}
						{% set restaurantInfo = post %}
					{% endif %}

					{# {{ restaurantInfo|print_r}} #}

					<div class="tabs-group" data-affix>
						<div class="tabs-header">
							<a href="#">Info</a>
							{% if menus|length > 0 %}
							<a href="#" class="{% if is_menu %}active{% endif %}">Menus</a>
							{% endif %}

							{% if hasEvents %}
								<a href="#">Events</a>
							{% endif %}


						</div>
					    <div id="restaurant-info" class="tabs-content first">
					    	{% include '_restaurant-info.twig' with { restaurant: restaurantInfo } %}
					    </div>
							{% set stringReplace = {'Tilth': '', 'Agrodolce': '', 'Menu': ''} %}
					    {% if submenu and menus|length > 0 %}
					    	<div id="restaurant-menus" class="tabs-content {% if is_menu %}active{% endif %}">
					        <nav class="restaurant-info__container">
					          {% for menu in menus %}
					            <div class="{{menu.class}} menu-list-item">
					              	<a href="{{ menu.ID|post_url_by_id }}" title="{{menu.post_title}}" >{{menu.post_title|replace(stringReplace)}}</a>
					            </div>
					          {% endfor %}
										{% if tastingmenus | length %}
											<h4>Tasting Menus</h4>
												{% for menu in tastingmenus %}
													<div class="{{menu.class}} menu-list-item">
															<a href="{{ menu.ID|post_url_by_id }}" title="{{menu.post_title}}" {% if item.menu %} data-open-window="" {% endif %}>{{ menu.post_title|replace(stringReplace) }}</a>
													</div>
												{% endfor %}
			
										{% endif %}
					        </nav>
					    	</div>
								
					    {% endif %}
							{% if hasEvents %}
								<div id="restaurant-events" class="tabs-content">
									<nav class="restaurant-info__container">
									  {% for item in events %}
												{% set url = item.ID|post_url_by_id %}
						            <div class="{{item.class}} menu-list-item">
						              <a href="{{url}}">{{item.post_title}}</a>
						            </div>
                    {% endfor %}
									</nav>
								</div>
							{% endif %}
					</div>
				</div>
			{% endif %}
			{% if parent %}

			  <section class="restaurant-page" data-ajax-target="menu">
					<a href="{{parent_link}}" class="logo logo--{{parent.post_name}} restaurant-page-mobile-logo"><img src="{{TimberImage(parent.logo).src}}" alt="{{parent.title}} Logo" /></a>
			  	<h1 class="article-h1 heading--{{parent.post_name}}">{{post.title|replace(stringReplace)}}</h1>
			  	<div>
			  		{{post.content|raw}}
						{% if photo_gallery and post.post_type == 'restaurant' %}
						<div class="popup-gallery slider-gallery">
						{% for image in photo_gallery %}
							<a class="grid-item lightbox-link" data-popup="" href="{{ TimberImage(image).src }}"><img src="{{ TimberImage(image.sizes.restaurant_gallery) }}" /></a>
						{% endfor %}
						</div>
					{% endif %}
			  	</div>
			  </section>

			{% elseif post.type == 'restaurant' %}
			  <section class="restaurant-summary">
			  	<h1 class="article-h1">{{post.title}}</h1>
			  	<div class="article-body">
			  		{{post.content}}
					</div>
					{% if post.special_events %}
						<hr />
						<div class="mhr-card__special-events">
							<h2 class="mhr-card__special-events__title">Special Events</h2>
							{{ post.special_events }}
						</div>
					{% endif %}
					

			  </section>
			{% else %}
				<section class="post-body">
					<h1>{{post.title}}</h1>
					<div class="post-body__content">
					
						{{post.content}}
					</div>
				</section>
			{% endif %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
